# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.json, *.yml, *.yaml, *.lock, *.hbs, *.md, *.markdown, *.mdown, *.mdwn, *.mkd, *.mkdn, *.mdtxt, *.mdtext, *.text, *.txt]
indent_size = 2

[*.js, *.jsx, *.ts, *.tsx, *.mjs, *.cjs]
indent_size = 3
