[submodule "skins"]
	path = skins
	url = https://github.com/CommentGeneratorCollection/MCG-skins
	ignore = dirty
[submodule ".community"]
	path = .community
	url = https://github.com/CommentGeneratorCollection/.github
	ignore = dirty
[submodule "modules/7-zip"]
	path = modules/7-zip
	url = https://github.com/CommentGeneratorCollection/MCG-module-7-zip.git
	ignore = dirty